<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Electronic - Website bán trò chơi điện tử</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<base href="http://localhost:3000/">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/style2.css" rel="stylesheet">
<link href="css/nav-header.css" rel="stylesheet">
<link href="css/banner-top.css" rel="stylesheet">
<link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet"  />
<link href="css/jquery.fancybox.css" rel="stylesheet">
<link href="css/cloud-zoom.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- fav -->
<link rel="shortcut icon" href="assets/ico/favicon.html">
</head>
<body>
<!-- Header Start -->

	<div class="nav fixed-top">
			<ul class="list-left">
				<li><a class="home active" href="/">Trang chủ</a></li>
				<li><a hclass="shoppingcart" href="/gio-hang.html">Giỏ hàng</a></li>
				
			</ul>
			<ul class="list-right">
				<li class="dang-nhap">Số điện thoại: 0912785364</li>
				<span>|</span>
				<li class="dang-ky">Email: videogamestore@gmail.com</li>

			</ul>
	</div>
		<!-- end Thanh công cụ -->
		<div class="clear"></div>
<header>
  <div class="header">
			<a href="/" class="logo-minh"><img src="img/logo.minh.png" alt="vgstore" title="vgstore"></a>
			<span class="ten-cua-hang">Chào mừng các bạn đến với cửa hàng Video Game</span>					
			
  </div>


  <div class="container">
    <div id="categorymenu">
      <nav class="subnav">
        <ul class="nav-pills categorymenu">    
        </ul>
      </nav>
    </div>
  </div>
</header>